* {
    margin: 0;
    padding: 0;
}
.header {
    background-image: url("bgimg.png");
}
.container {
    width: 100%;
    max-width: 1800px;
    height: 600px;
    border: 1px solid black;
}
.inl {
    display: flex;
    list-style: none;
    color: aliceblue;
}
.inl li {
    margin-right: 25px;
    margin-top: 25px;
}
.header img {
    margin-top: 5px;
    margin-left: 25px;
}
#head {
    margin-right: 400px;
}
.htext {
    position: relative;
    top: 100px;
    left: 500px;
    font-size: x-large;
    color: aliceblue;
    width: 450px;
}
#btn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-left: 130px;
    font-size: x-large;
    background: green;
}
.ctn2 {
    background: #8FBC8F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus {
    width: 700px;
    margin-left: 200px;
}
.aboutus blockquote {
    font: large oblique;
}
.ing {
    height: 300px;
}
.QA {
    font-size: x-large;
}
.plius {
    border-radius: 30px;
    height: 25px;
    width: 25px;
}
.FAQ p {
    display: none;
}